-- local configuration for texno, if you don't know what that is you
-- can safely ignore this but don't delete this file.
return {
    -- base names for different files
    MAIN_FILE_BASE = "main",
    CHAPTER_FILE_BASE = "chapter",
    WORK_FILE_BASE = "work",
    SECTION_FILE_BASE = "section",
    SYLLABUS_FILE_BASE = "syllabus",
    ABSTRACT_FILE_BASE = "abstract",
}
