*_standalone_sub.pdf
*.lof
*.lot
*.toc
*.out
*.pdf
report/*.pdf
mini_project_report/*.pdf
*/_standalone_tmp/*
*/chapter_*/*.pdf
*/chapter_*/section_*/*.pdf
*/tikzpics/**/*.pdf
*/chapter_*/tikzpics/**/*.pdf
*/chapter_*/section_*/tikzpics/**/*.pdf
*.tstp
*.aux
*.log
*/.lunatikz/dep_cache
*/.lunatikz/subfix_cache
*.bcf
*.bbl
*.blg
*.run.xml
*.o
*.stl
misc
*_standalone_*.tex
*.nav
*.vrb
*.snm
_minted/
present/otherpics/*
present/fonts/*
